<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://nexus.aq.servers.lan:8443/repository/our-nuget-hosted/" />
  </config>

  <packageSources>
	<add key="Local Nuget Server" value="https://nexus.aq.servers.lan:8443/repository/our-nuget-hosted/" />
    <add key="Local Nexus Packages Proxy" value="https://nexus.aq.servers.lan:8443/repository/nuget-org-proxy-v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

</configuration>
